<aside class="menu_lateral">
    <ul>
        <li><a href="/planos_de_contas">Planos de Contas</a></li>
        <li><a href="/movimentacoes">Movimentações</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>

    </ul>
</aside>
