<nav class="navegacao">
    <div class="navegacao_btn navegacao_btn_menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="navegacao_logo">
        Fluxo de Caixa
    </div>
    <div class="navegacao_btn navegacao_btn_usuario">
        <i class="fa fa-user"></i>
    </div>
</nav>
