<%- include('../_template/header') %>
    
<div class="mt-2 p-2 bg-white d-flex justify-content-between">
    <h5>Planos de Contas</h5>
    <button class="btn btn-sm btn-outline-primary rounded-pill">
        <i class="fas fa-plus"></i>
    </button>
</div>

<table class="table table-sm table-striped table-hover bg-white">
    <thead>
        <tr><th scope="col">Planos de Contas</th></tr>
    </thead>
    <tbody>
        <tr><td>Mark</td></tr>
        <tr><td>Mark</td></tr>
        <tr><td>Mark</td></tr>
        <tr><td>Mark</td></tr>
        <tr><td>Mark</td></tr>
        <tr><td>Mark</td></tr>
    </tbody>
    </table>

<%- include('../_template/footer') %>